@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

#div2 {
    float: left;
    width: 430px;
    height: 620px;
    margin-right: 20px;
    background-color:white;
    border-radius: 20px;
    
}

img{
    position: relative;
    left:25px;
    top: 34px;
    border-radius: 10px;
}

h1{
    position: relative;
    top: 20px;
    left: 43px;
}

p{
    color: rgb(2, 7, 8);
    padding: 15px;
    font-family: Outfit;
    text-align: center;
}